@import '../../../settings.scss';

.header-fixed {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	display: none;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
	background-color: $primaryBackground !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background-color: #fff !important;
	a {
		color: $primaryBackground;
	}
}
