.container {
	width: 500px;
	padding: 20px;
}

.btn-container {
	padding-left: 100px;
}

.nav {
	background: violet;
}

a {
	color: rgb(50%, 25%, 25%) !important;
}

a:hover {
	background-color: tomato;
}

.test {
	width: 100%;
	background-color: aliceblue;
}

.test img {
	float: left;
}
