@import '../../../settings.scss';

.ant-layout-content {
	padding: unset !important;
}
.row-custom {
	margin: unset !important;
	background: #fff;
	width: 100%;
	width: 100% !important;
	img {
		max-width: 600px;
	}
	.fb-pic-1 {
		img {
			margin-top: -100px;
			width: 600px !important;
			border-radius: 5px;
		}
	}
	.row-custom-content {
		div {
			h2 {
				// padding: 20px;
				background-image: url('https://scontent.fyyc3-1.fna.fbcdn.net/v/t31.18172-8/191580_200880043263417_2080176_o.jpg?_nc_cat=104&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=S4xq_MylFngAX_IjCjH&_nc_ht=scontent.fyyc3-1.fna&oh=e6d98b0a1501f10112582ed2628f223c&oe=618A0B0E');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: 700px;
			}
			span {
				font-size: 50px;
				line-height: 50px;
				color: $lightTexColor;
				text-align: left;
			}
			p {
				margin-top: 50px;
			}
		}
	}
}
.img-custom {
	margin: 0 auto !important;
	max-width: 700px;
}

.dv-ms-su-mlp-3 {
	background-color: #000;
	background-image: linear-gradient(to right, #000 40%, transparent 58%),
		url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/CA_MLP_BG_Left_1440x675_EN.jpg');
	background-position: right top;
}
