@import '../../settings.scss';

.row-experience {
	padding: 20px;
	margin: 0 auto;
	// margin-top: 116px !important;
	max-width: 100%;
	background-color: #000;
	margin-bottom: 6px;
	margin-left: unset !important;
	margin-right: unset !important;
	.chart-skill-years {
		h1 {
			font-size: 50px;
		}
		h1,
		p,
		span {
			text-align: center;
			color: $lightTexColor !important;
		}
		p {
			margin-top: -40px;
			margin-bottom: -20px;
			font-size: 20px;
		}
	}
}
// .chart {
// 	text:nth-of-type(1) {
// 		padding: 20px;
// 		font-size: 20px;
// 	}
// }
