// #### Background Colors ####
// * Default Content Backbround
$defaultBackground: #f0f2f5;
$SidNavDefautBackground: #001529;

// * Header, Tables, etc
$primaryBackground: #03a9f4;

// #### Text Colors ####
$lightTexColor: #ffffff;
$darkTextColor: rgba(0, 0, 0, 0.85);
$menuItemDisabledText: rgba(255, 255, 255, 0.65);

//
$baseBorderRadius: 4px;
